body{
    --background-color: #203C40;
    background-color: var(--background-color);
}

h1{
    color: #D8DBE2;
}

td{
    border: 5px solid var(--background-color);
    padding-top: 50px;
    padding-bottom: 300px;
    padding-left: 100px;
    padding-right: 100px;
}


#I{
    background-color: #D8DBE2;
    color: #1B1B1E;
}

#II{
    background-color: #A9BCD0;
    color: #1B1B1E;
}

#III{
    background-color: #58A4B0;
    color: #1B1B1E;
}

#IV{
    background-color: #373F51;
    color: #D8DBE2;

}

#V{
    background-color: #1B1B1E;
    color: #A9BCD0;
}