* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin: auto; */
    border-radius: 5px;
}

.welcome {
    text-align: center;
    background-color: rgba(0, 24, 63, 0.5);
    border: 1px solid transparent;
    margin: 10px;
    width: 95%;
    padding-left: 20%;
    padding-right: 20%;

    text-align: justify;
}

.welcome h1, h2 {
    text-align: center;
}

body {
    color: whitesmoke;
    background-color: darkslategray;
    font-family: 'Raleway', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    text-align: justify;
    background-color: rgba(0, 24, 63, 0.5);
    border: 1px solid transparent;
    margin: 10px;
    width: 95%;
    
    padding-left: 20%;
    padding-right: 20%;


}

/* FORM AREA */

.signup {
    background-color: rgba(0, 24, 63, 0.5);
    border: 1px solid transparent;
    width: 95%;
    margin: 10px;

    padding-left: 30%;
    padding-right: 30%;

}

.form input[type='text'],
input[type='email'] {
    background-color: whitesmoke;
    border: 1px solid #001435;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

.submit input[type='submit'] {
    background-color: rgba(0, 24, 63, 0.5);
    color: whitesmoke;
    border: 2px solid #001435;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
}

label {
    display: block;
    text-align: center;
    padding-top: 30px;

}

